## title
A decision tree classification program for heart disease

## introduction
in the project we are gonna build a machine learning program that classifies heart disease if a patient is heart diease positive, and we are going to be using `DecisionTree` Model for our Machine Learning Algorithm

## Techiniqes used we are going to be using in this project
* Prepare our datasets
* View our datasets
* Process our datasets
* split our datasets into `train` and `test` set
* fit our data into the `DecisionTree` Model 
* Train our model to learn patterns from the fiited datasets
* Evaluate our model to see if it performs well on the model
* Change the Hyperparameters of the model to increase the accuracy of the model
* Start using for prediction when we habe a good model accuracy

## Introduction to the datasets
the heart diesase datasets was gotten from a github ropository https://github.com/Akinleyejoshua/j-ml-projects/tree/main/Datasets, https://github.com/Akinleyejoshua/j-ml-projects/blob/main/Datasets/heart-disease.csv
the datasets contains information about heart disease and factors(feature set) that can cause a patient to have
heart disease (label set)
from the datasets data below we can see that the feature sets is `13` and target set is `1`
we have `303` Samples(rows) and 14 columns

In [7]:
import pandas as pd
heart_disease = pd.read_csv("heart-disease.csv")
heart_disease.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [9]:
heart_disease.shape

(303, 14)

In [15]:
# now we have imported the data let us discibe the data 
heart_disease.describe()
# from the data we can see the count, mean, minumum value, max value, standard deviation, 25 percentile ...

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [16]:
# select the independent feature columns into X variable and y as the dependent variable (target)
X = heart_disease.drop("target", axis=1)
y = heart_disease["target"]

In [17]:
# Now we have to split our data into train and test set
# the train set is used to fit the data into the model while the test set used to test the accuracy of the data
# the test size would take about 20% or 0.2 while train 80%
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [20]:
# we can instantiate the model from the decision tree
# we can import the model from sklearn
# Since this is a classification project because we are classifying if a patient has heart disease or not
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier()
# fit in the train set
model.fit(X_train, y_train)
# we score the model accuracy from the test set
model.score(X_test, y_test)

0.7377049180327869

In [25]:
# wow we have an accuracy of abour 74%, which means our model performed well on the datasets
# now let start predicting new data from the model from the test set
# then we compare the predicted results with the real result to check if it predicted it accurately
# we can see that True means predicted correct while False goes the other way round
y_pred = model.predict(X_test)
y_pred == y_test

171    False
173     True
110    False
238     True
13      True
       ...
97     False
258    False
186     True
61      True
53     False
Name: target, Length: 61, dtype: bool

### Analysis
now we can see from our result above that the model had an accuracy of about 74% which means the model learned the patterns well from the data given to it
we then made predictions from the `test` set and compared the predicted value to the actual value
some were predicted wrongly `False` while some were predicted accuratly `True`